<div class="modal"  id="modal-ver" data-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Habitación {{tipoHabitacion.tipo}}</h5>
                <button type="button" class="close" (click)="cerrar()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="habitacion">
                    <label for="tarifa">Tarifa Diaria: </label>
                    <input class="ml-3" id="tarifa" type="number" [(ngModel)]="tipoHabitacion.tarifa" disabled/>  
                    <p>{{tipoHabitacion.informacion}}</p>
                </div>
                <div class="d-flex flex-row">
                    <figure><img id="previewShowImage" src="" width="100" height="100" alt="#"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>