<div class="modal"  id="modal-ver" data-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Habitación {{tipoHabitacion.tipo}}</h5>
                <button type="button" class="close" (click)="cerrar()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="habitacion">
                  <label>{{tipoHabitacion.tipo}}</label>
                  <label class="ml-5" for="tarifa">Tarifa Diaria:</label>
                  <input id="tarifa" type="number" [(ngModel)]="tipoHabitacion.tarifa" />
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control pb-5" [(ngModel)]="tipoHabitacion.informacion"></textarea>
                </div>
               <!-- <div class="d-flex flex-row">
                  <figure><img [src]="'assets/images/' + tipoHabitacion.imagen" alt="#" width="100" height="100"/></figure>
                  <input class="form-control form-control-lg ml-2 mt-4" id="formFileLg" (change)="obtenerNombreArchivo()"
                  type="file" accept="image/png, .jpeg, .jpg, image/gif" />
               </div>-->
               <div class="alert alert-light" role="alert">
                {{respuesta}}
              </div>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn cancel" (click)="cerrar()">Cancelar</button>
              </div>
        </div>
    </div>
</div>