<div class="title">
  <h2 style="color: white; padding-top: 5px;">Modificar Páginas</h2>
</div>
<div>
  <h3 class="ml-3 mt-2">Sobre Nosotros</h3>
</div>
<div>
  <div class="col-md-12 form-group mt-3">
    <textarea class="form-control pb-5" [(ngModel)]="dataAboutUs.descripcion"></textarea>
  </div>
  <div class="row justify-content-end mr-3">
    <button type="button" class="btn" (click)="modificarDescripcion()">Guardar</button>
  </div>
</div>
<div class="mt-5 ml-2">
  <h5>Galería</h5>
  <div class="row ml-2">
    <div class=""> 
      <figure>
        <img id="preview" src="assets/images/vacio.png" width="120" height="120" alt="#" />
      </figure>
    </div>
    <div class="ml-5">
      <div class="form-group row">
        <label for="formFileLg">Escoger Imagen:</label>
        <input id="formFileLg" class="ml-3" (change)="obtenerImagen($event)" type="file"
          accept="image/png, .jpeg, .jpg, image/gif" />
      </div>
      <div class="form-group row">
        <label for="nombreImagen">Nombrar Imagen:</label>
        <input type="text" id="nombreImagen" name="nombreImagen" [(ngModel)]="nombreImagen">
      </div>
    </div>
  </div>
  <button class="btn" type="button" (click)="registrarImagenGaleria()">Guardar</button>
  <div class="mt-2">
    <table class="table" id="dataTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let imagen of dataGaleria">
        <tr id="datos-tabla">
          <td>
            <figure>
              <img src="{{'data:image/jpg;base64,'+imagen.imagen}}" width="120" height="120" alt="#" />
            </figure>
          </td>
          <td>{{imagen.id}}</td>
          <td>{{imagen.nombre}}</td>
          <td>
            <button class="btn btn; mdi mdi-delete deleteTabla" (click)="eliminarImagenGaleria(imagen)">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-notificacion-dialog [mensaje]="this.respuesta"></app-notificacion-dialog>