<section class="hero">
  <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
     <div class="hero__categories sidebar-sticky">
        <ul class="nav flex-column">
           <li class="nav-item active">
              <a class="nav-link" routerLink="/home/bienvenida" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/home/pagina" routerLinkActive="active" ariaCurrentWhenActive="page">Modificar Paginas</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/home/reservacion" routerLinkActive="active"  ariaCurrentWhenActive="page">Lista de Reservaciones</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/home/admin_habitacion" routerLinkActive="active"  ariaCurrentWhenActive="page">Administrar habitaciones</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/home/estado_hotel" routerLinkActive="active"  ariaCurrentWhenActive="page">Estado del Hotel Hoy</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/home/disponibilidad_habitacion" routerLinkActive="active"  ariaCurrentWhenActive="page">Disponibilidad de habitaciones</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" routerLink="/home/publicidad" routerLinkActive="active"  ariaCurrentWhenActive="page">Publicidad</a>
           </li>
        </ul>
     </div>
  </nav>
</section>
