.title{
  background-color: #0f1521;
  text-align: center;
  padding-bottom: 0.1rem;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.titlePublicidad {
  font-weight: 450;
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
}

.linea {
  background: #0f1521;
  height: 5px;
  width: 100%;
  display: block;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  margin: auto;
  grid-gap: 10px;
  padding: 30px 0;
  overflow: hidden;
}

.galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
} 

.galeria button {
  border-width: 0;
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s;
}

.galeria a:hover img{
  filter: blur(2px);
}

.combobox {
  margin-top: 2%;
  margin-bottom: 1%;
}

.read_more {
  font-size: 17px;
  background-color: #0f1521;
  color: #fff;
  padding: 8px 0px;
  width: 100%;
  max-width: 144px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  font-weight: 500;
  border-radius: 30px;
}

.read_more:hover {
  background: #1ddd7d;
  color: #fff;
  transition: ease-in all 0.5s;
}

.cancel:hover {
  background: #fe0000;
  color: #fff;
  transition: ease-in all 0.5s;
}

.deleteTabla{
  font-size: 24px;
  color: #fe0000;
}

.updateTabla{
  font-size: 24px;
  color: blue;
}