<div class="title">
  <h2 style="color: white; padding-top: 5px;"> Publicidad</h2>
</div>

<section>
  <app-modificar-publicidad [publicidad]="publicidadModificar"></app-modificar-publicidad>
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-3 combobox"></div>

          <div class="col-md-2 combobox"> 
              <div class="row">
                  <div class="col-md-12">
                    <label for="tarifa">Imagen:</label>
                  </div>
                  <div class="col-md-12">
                    <div > 
                     <figure>
                      <img class="imagen" id="preview" src="assets/images/vacio.png" width="100" height="100" alt="#"/>
                     </figure> 
                    </div>
                  </div>
              </div>
          </div>

          <div class="col-md-3 combobox"> 
              <div class="row">
                  <div class="col-md-12">
                    <label for="start">Link de destino:</label>
                  </div>
                  <div class="col-md-12">
                    <input type="text" id="start" [(ngModel)]="destino">
                  </div>
                  <div class="col-md-12" style="margin-top: 5%;">
                    <label for="end">Subir nueva imagen:</label>
                  </div>
                  <div class="col-md-12">
                    <input id="formFileLg" (change)="obtenerImagen($event)" type="file" accept="image/png, .jpeg, .jpg, image/gif"/>
                  </div>
                  <div class="col-md-12 " style="margin-top: 5%;">
                    <button class="read_more" type="button" (click)="registarPublicidad(this.dataPublicidad.imagen,destino)">Aceptar</button> 
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-3 combobox"> </div>  
  </div>
</section>

<div> 
  <span class="linea"></span>
  <h2 class="titlePublicidad">Imágenes Publicitarias</h2>
 
  <section class="galeria">
    <div *ngFor="let publicidad of dataPublicidad">
      <div style="text-align: center;">  
        <button type="button" (click)="abrirModalPublicidad(publicidad)">
          <a><img [src]="publicidad.imagen"/></a> 
        </button>
      </div>
    </div>
  </section>
</div>
 








