
<body>

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hotel Coco Milk</h1>
			<p>El módulo de administración de nuestro hotel es una herramienta integral que permite <br>
				a los gerentes supervisar todas las operaciones diarias del hotel.</p>

		</div>
	</div>


		<div class="right">
						<div class="titulo">
							<h5>Login</h5>
						</div>
						<div>
							<p>El acceso a esta área está restringido únicamente para los administradores del sistema. <br>
								Si requieres acceso a estos recursos, por favor comunícate con la administración.</p>
						</div>

					<div class="inputs">
						<input type="text" [(ngModel)]="nombre" placeholder="Nombre de usuario">
						<br>
						<input type="password" [(ngModel)]="contra" placeholder="Contraseña">
					</div>

						<br><br>

						<br>
						<button (click)="buttonInicioSesion()">Ingresar</button>
	</div>

</div>


</body>
