<div class="title">
  <h2 style="color: white; padding-top: 5px;">Bienvenido</h2>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="assets/images/administrativo2.gif" width="100" height="100" alt="#"/>
  </div>
  <div class="col-md-6">
    <section class="TextoPrincipal">
      <h1>Hotel CocoMilk</h1>
      <h3>Módulo Administrativo</h3>
      <p>El módulo de administración de nuestro hotel es una herramienta integral que permite
        a los gerentes supervisar todas las operaciones diarias del hotel.</p>
    </section>

    
  </div>


</div>
